@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ivy Ora Display */
@font-face {
  font-family: 'Ivy Ora Display';
  src: url('/fonts/Ivy/Ivy-Ora-Display.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Ora Display';
  src: url('/fonts/Ivy/Ivy-Ora-Display-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Ora Display';
  src: url('/fonts/Ivy/Ivy-Ora-Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Ora Display';
  src: url('/fonts/Ivy/Ivy-Ora-Display-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

/* Ivy Presto Display */
@font-face {
  font-family: 'Ivy Presto Display';
  src: url('/fonts/Ivy/Ivy-Presto-Display.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Presto Display';
  src: url('/fonts/Ivy/Ivy-Presto-Display-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Presto Display';
  src: url('/fonts/Ivy/Ivy-Presto-Display-Semi-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Presto Display';
  src: url('/fonts/Ivy/Ivy-Presto-Display-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

/* Ivy Presto Text */
@font-face {
  font-family: 'Ivy Presto Text';
  src: url('/fonts/Ivy/Ivy-Presto-Text.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Presto Text';
  src: url('/fonts/Ivy/Ivy-Presto-Text-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Presto Text';
  src: url('/fonts/Ivy/Ivy-Presto-Text-Semi-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Ivy Presto Text';
  src: url('/fonts/Ivy/Ivy-Presto-Text-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

/* TestSohne */
@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-Extraleicht.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-ExtraleichtKursiv.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-Leicht.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-LeichtKursiv.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-Buch.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-BuchKursiv.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-Kraftig.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-KraftigKursiv.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-Halbfett.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-HalbfettKursiv.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-Dreiviertelfett.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-DreiviertelfettKursiv.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-Fett.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-FettKursiv.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-Extrafett.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TestSohne';
  src: url('/fonts/TestSohne/TestSohne-ExtrafettKursiv.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}